
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#brandName {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 70px;
  font-weight: 700;
  


}

#intro {
  margin-bottom: 0;
  border-radius: 0%;
}

#pitch {
  color: rgb(55, 16, 165)
}

#carouselExampleCaptions {
  width: 100%;
  height: 60vmin;
  background-image: url('https://globrockimages.s3.us-east-2.amazonaws.com/images/Nairobi_Giraffe_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;

  
}


.carousel-inner {
  
 padding: 50vmin 0vmin;


}

#services {

  padding: 5%;
  color: white

}
/* .service {
  border-style: solid;
  border-color: rgb(114, 116, 98);
  background-color: inherit;

} */

.carousel-caption {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carousel-caption > h4 {
  color: black;
}

#slides {
  background-color: #2a2a2c;
border-radius: 25px;
/* position: -ms-page; */
}





#logo {
  color:lightskyblue;
  font-weight: 650;
  padding-left: 20px;
}

#nav-links {
  margin: auto;
}

#about, #service, #contact {
  color:white;
  padding: 20px;
  font-weight: 800;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.inputName {
  margin:auto;
}


#footer {
  width: 95%;
  background-color: inherit;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#giraffe {
  height: 100%;
  width: 100%;
  margin: 0;
}

html{ 
  overflow-x: hidden;
}

body {
  background-color: #0A4B78;
  overflow-x: hidden;
}

.partner {
  color: white;
}

.footerItem {
  padding: 20px;
}

.footerItem > h6 {

  color: lightskyblue;
}

#aboutComponent {
  color: white;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 50px;
  text-align: justify;
}

#aboutComponent > b {
  color: lightskyblue;
  font-size: larger;
  font-weight: 300;
}

/* social media icons style  */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 34px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  position: relative;
  
}

.fa:hover {
  opacity: 0.7;
}