.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#brandName {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 70px;
  font-weight: 700;
  


}

#intro {
  background-color: white;
  padding-left: 20%;
  padding-right: 20%;
}

/* #navbar {
  border-bottom: blue;
  border-bottom-style: solid
} */

#services {
  background-color:#117E65;
  padding: 5%;

}
.service {
  border-style: solid;
  border-color: rgb(12, 11, 104);

}

#service1, #service3, #service4 {
  width: 30%;
  margin: auto;
  height: 200px;
}

#service2 {
  height: 250px;
  width: 35%;
  font-weight: 25px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}


#logo {
  color:lightskyblue;
  font-weight: 600;
}

#newsLetter {
  width: 40%;
  margin: auto;
}

.inputName {
  margin:auto;
}

#newsLetterButton {

  width: 50%;
  margin: auto;

}