.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#brandName {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 70px;
  font-weight: 700;
  


}

#intro {
  background-color: white;
  padding-left: 20%;
  padding-right: 20%;
}

#pitch {
  color: rgb(55, 16, 165)
}

/* #navbar {
  border-bottom: blue;
  border-bottom-style: solid
} */

#services {

  padding: 5%;
  color: white

}
.service {
  border-style: solid;
  border-color: rgb(12, 11, 104);
  background-color: inherit;

}

#service1, #service2, #service3 {

  height: 400px;
  background-color: #117E65;
  color: white;

}

/* .serviceDescription {
  color: white;
  background-color: #282c34;
} */

/* #service2 {
  height: 250px;
  width: 35%;
  font-weight: 25px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color:#117E65;
} */

#carouselExampleCaptions {
  
}

/*  carousel CSS  */
.serviceImage {
  height: 200px;
  background-color: white;

}

/* .serviceSlide {
  height: 300px;
  width: 100%;
} */

.carousel-caption {
  color: black;
  /* border-style: solid;
  border-color: black;
  border-radius: 30px; */
  padding-top: 90px;
}

#slides {
background-color: lightgray;
border-radius: 25px;
}

#logo {
  color:lightskyblue;
  font-weight: 600;
}

#newsLetterArea {
  margin-top: 20px;
}

#newsLetter {
  width: 40%;
  margin: auto;
  
}

.inputName {
  margin:auto;
}

#newsLetterButton {

  width: 50%;
  margin: auto;

}

#footer {
  background-color: gray;
  color: white;
  padding-top: 20px;
  margin-top: 20px;
}

#giraffe {
  width: 98%;
  margin: auto;
}